{% extends 'base.html' %}


{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>반갑습니다</h1>
    <p>여기는 선천성 심장기형에 관심있는 사람들을 위한 곳입니다. 홈페이지는 크게 3부분으로 구성되어있는데, 선천성 심장기형에 대한 의학 정보를 제공하는 부분, 선천성 심장기형에 대한 실생활 정보를 제공하는 부분, 그리고 질문과 답변 부분입니다.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">자세히 »</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>의학 정보</h2>
      <p>선천성 심장기형에 대한 다양한 의학정보가 있습니다.</p>
      <p><a class="btn btn-default" href="{% url 'medicine_list' %}" role="button">자료 보기 »</a></p>
    </div>
    <div class="col-md-4">
      <h2>실생활 정보</h2>
      <p>임신, 출산, 진단, 수술 등 선천성 심장기형과 관련된 다양한 정보가 있습니다.</p>
      <p><a class="btn btn-default" href="#" role="button">자료 보기 »</a></p>
    </div>
    <div class="col-md-4">
      <h2>질문과 답변</h2>
      <p>질문과 답변 코너입니다.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>
</div>
</div>
<hr>
<div class="container">
  <a id="newcategory" href="{% url 'new_category' %}">new_category</a>
  <a id="newline" href="{% url 'new_line' %}">new_line</a>
</div>
{% endblock %}